/*font-family: 'Open Sans', sans-serif;*/

body{
    font-family:  'Open Sans', sans-serif;
}

#page-1{
    background: url('../assets/h_img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 51rem;
    width: 100%;
  
}

.page-3{
    background-image: url('../assets/s_image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 24rem;
    width: 100%;
    color: white;
    text-align: center;
    line-height: 2rem; 
}

.para-1{
    display: none;
}
.para-2{
    display: none;
}
.para-3{
    display: none;
}


.portfolio{
    text-align: center;
    font-weight: 900;
}


#mouse-over1{
    background-image: url('../assets/work4.jpg');
    height: 235px;
    width: 235px;
    text-align: center;
    color: white;
    font-size: 30px;
    padding-top: 80px;
    margin: 4px;
   

}


#mouse-over2{
    background-image: url('../assets/work3.jpg');
    height: 235px;
    width: 235px;
    text-align: center;
    color: white;
    font-size: 30px;
    padding-top: 80px;
    margin: 4px;
   

}

#mouse-over3{
    background-image: url('../assets/work2.jpg');
    height: 235px;
    width: 235px;
    text-align: center;
    color: white;
    font-size: 30px;
    padding-top: 80px;
    margin: 4px;
   

}

#mouse-over4{
    background-image: url('../assets/work1.jpg');
    height: 235px;
    width: 235px;
    text-align: center;
    color: white;
    font-size: 30px;
    padding-top: 80px;
    margin: 4px;
   

}

#mouse-over5{
    background-image: url('../assets/work5.jpg');
    height: 235px;
    width: 235px;
    text-align: center;
    color: white;
    font-size: 30px;
    padding-top: 80px;
    margin: 4px;
   

}
#mouse-over6{
    background-image: url('../assets/work6.jpg');
    height: 235px;
    width: 235px;
    text-align: center;
    color: white;
    font-size: 30px;
    padding-top: 80px;
    margin: 4px;
   

}
#mouse-over7{
    background-image: url('../assets/work7.jpg');
    height: 235px;
    width: 235px;
    text-align: center;
    color: white;
    font-size: 30px;
    padding-top: 80px;
    margin: 4px;
   

}
#mouse-over8{
    background-image: url('../assets/work8.jpg');
    height: 235px;
    width: 235px;
    text-align: center;
    color: white;
    font-size: 30px;
    padding-top: 80px;
    margin: 4px;
   

}