/*font-family: 'Open Sans', sans-serif;*/

body{
    font-family:  'Open Sans', sans-serif;
}

#page-1{
    background: url('../assets/h_img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 51rem;
    width: 100%;
  
}

.page-3{
    background-image: url('../assets/s_image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 24rem;
    width: 100%;
    color: white;
    text-align: center;
    line-height: 2rem; 
}